* {
margin: 0;
padding: 0;
}
body {
  background-color: grey; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
}
#toggle, #shot {
    width: 100px;
    height: 30px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
} 

#pads-container {
    width: 500px;
    height: 550px;
    margin: 40px auto;
    border: 2px dashed black;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pad, #shot-button, #toggle-button {
    margin: 4px;
    width: 148px;
    height: 148px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#shot-button, #toggle-button {
    width: 130px;
    height: 20px;
    padding: 5px;

}
#shot-button {
    background-color: lightgoldenrodyellow;
}

