* {
margin: 0;
padding: 0;
}
body {
  background-color: grey;  
}
#toggle, #shot {
    width: 100px;
    height: 30px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
} 

#pads-container {
    width: 500px;
    height: 500px;
    margin: 40px auto;
    border: 2px dashed black;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pad, .mode-button {
    margin: 4px;
    width: 148px;
    height: 115px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mode-button {
    width: 66px;
    height: 25px;
    margin: 4px;
}
.shot-button {
    background-color: lightgoldenrodyellow;
}

@media only screen and (max-width: 1000px) {
    #pads-container {
        width: 80vw;
        height: 80vw;
    }
    .pad {
        width: 22vw;
        height: 22vw;
    }
    .mode-button {
        display: none;
    }
}
